---
import Layout from '~/Layout.astro';
import ExperienceCard from '@/ExperienceCard.astro';
import experience from 'data/ru/experience.json';

const title = '👋 Hello, my name is Danila, I am frontend web developer.';
const desc = 'This is the page about my experience.';
const lang = 'ru';
---

<Layout {title} {desc} {lang}>
	<h1>👋 Привет, я Данила</h1>
	<p><a href='/ru'>⤺ На главную</a> | <a href='/experience'>ENG</a></p>
	<h2>
		Узнать больше о моем опыте работы можно на <a
			href='https://www.linkedin.com/in/bdanila/'>LinkedIn</a
		>
	</h2>
	<p>
		Если ссылка не открывается, то подробная информация о моем опыте работы
		находится тут 😌
	</p>
	<h2>Про меня</h2>
	<p>
		Своими ключевыми компетенциями я считаю большой опыт работы с фреймворками
		Vue.js 2 и 3, знание Nuxt.js, сборки бандлов, тестирования кода. Отлично
		знаю HTML5, могу собирать сложные компоненты, умею делать интерфейс
		доступным. Пишу на современном JavaScript и TypeScript. Характеризуюсь
		упорством, постоянным саморазвитием и легкостью в общении.
	</p>
	<h2>Опыт работы</h2>
	{
		experience.map(({ company, position, duration, responsibilities }) => (
			<ExperienceCard {company} {position} {duration} {responsibilities} />
		))
	}

	<h2>Образование</h2>
	<ul>
		<li><strong>Среднее профессиональное образование</strong>: Программист.</li>
		<li><strong>HTML-Academy</strong>: Квалификация по работе с Vue.js.</li>
		<li>Сертификат по администрированию Unix систем.</li>
	</ul>
	<h2>Дополнительная информация</h2>
	<ul>
		<li>
			<strong>Языки</strong>: Русский (родной), английский (читаю и говорю).
		</li>
		<li>
			<strong>Другое</strong>: Готов к переезду, большой опыт работы с
			различными инструментами, быстрая адаптация к требованиям работодателя.
		</li>
	</ul>
	<h2>Заключение</h2>
	<p>
		Я считаю себя высококвалифицированным специалистом, постоянно развиваюсь и
		готов внести свой вклад в развитие вашей компании. Я всегда открыт для новых
		проектов и идей. Напишите на <a href='mailto:danila@katokdoes.art'
			>danila@katokdoes.art</a
		>, и давайте обсудим, как я могу помочь вашему бизнесу расти!.
	</p>
	<p><a href='/ru'>⤺ На главную</a> | <a href='/experience'>ENG</a></p>
</Layout>
